rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions
    function isAdmin() {
      return request.auth != null && request.auth.token.email == 'admin@beeboo.com';
    }

    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    // Products can be read by anyone, but only written by admins.
    match /products/{productId} {
      allow read;
      allow write: if isAdmin();
    }

    // Categories can be read by anyone, but only written by admins.
    match /categories/{categoryId} {
      allow read;
      allow write: if isAdmin();
    }
    
    // Site settings (announcements, themes) can be read by anyone, written by admins.
    match /settings/{settingId} {
      allow read;
      allow write: if isAdmin();
    }

    // Orders can only be created by authenticated users for themselves.
    // They can only be read/updated by the user who owns them or an admin.
    match /orders/{orderId} {
      allow read, update: if isOwner(resource.data.userId) || isAdmin();
      allow create: if isOwner(request.resource.data.userId);
      allow delete: if isAdmin();
    }
    
    // Default deny all other requests
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
